.wrap {
  display: flex;
  width: 1400px;
  height: 800px;
  margin-top: 80px;
  margin-left: 60px;
}

.movieDescription {
  color: #484444;
  font-size: 26px;
  margin-left: 20px;
  line-height: 1.2em;
}

.title {
  font-size: 36px;
  color: #484444;
  line-height: 1.2em;
}

.poster {
  border-radius: 10px;
}
