<div *ngIf="movie">
  <div class="wrap">
    <div><img class="poster" src="https://image.tmdb.org/t/p/w400/{{movie.poster_path}}" alt="movie's poster"></div>
    <div class="movieDescription">
      <div class="title">{{movie.title}}</div>
<!--      <div>Genres: <div *ngFor="let genre of genresNames">{{genre.name}} </div></div>-->
      <div>Overview: {{movie.overview}}</div>
      <div>Original language: {{movie.original_language}}</div>
      <div>Original title: {{movie.original_title}}</div>
      <div>Release date: {{movie.release_date}}</div>
      <div>Vote average: {{movie.vote_average}}</div>
      <div>Vote count: {{movie.vote_count}}</div>
    </div>
  </div>
</div>

