.container {
  height: 70px;
  background-color: #0125d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 36px;
  color: snow;
}

a:first-child {
  margin-left: 15px;
}

.active a {
  color: yellow;
}

.user {
  display: flex;
  align-items: center;
  color: #a59c9c;
  font-size: 20px;
}

.userPhoto {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 25px;
  border-radius: 50%;
  cursor: pointer;
}
