.header-container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7c7474;
  margin-top: 0;
}

a {
  text-decoration: none;
  font-size: 36px;
  color: #f5eee9;
}

a:first-child {
  margin-left: 220px;
}

.active a {
  color: #29325e;
}

.header-user {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.userPhoto {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 25px;
  border-radius: 50%;
  cursor: pointer;
}
