.btn_container {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #2c2a2a;
  background-color: #829f8f;
  border: none;
}

.circle {
  margin-top: 13px;
  width: 20px;
  height: 20px;
  background-color: #484444;
  border-radius: 50%;
}

