.form {
  margin: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.moviePre {
  width: 300px;
}

.title {
  text-decoration: none;
  font-size: 20px;
  color: #6e6666;
}

.poster {
  border-radius: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  top: 100%;
}
